<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127678351955-oh7t0mot8j3dsujd6fs3bvpte57j7vfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127678351955-oh7t0mot8j3dsujd6fs3bvpte57j7vfe</string>
	<key>API_KEY</key>
	<string>AIzaSyAAwGens2CYpFk-8Hw8-hVIWIVqt_xkWq0</string>
	<key>GCM_SENDER_ID</key>
	<string>127678351955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.VincentCompany.BitCoinPredictor</string>
	<key>PROJECT_ID</key>
	<string>bytecoinpredictor-67614</string>
	<key>STORAGE_BUCKET</key>
	<string>bytecoinpredictor-67614.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127678351955:ios:484844716abd164f3794a6</string>
</dict>
</plist>